.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Lucida Sans", serif;
}



.home{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin: auto;
    box-shadow: 7px 7px 30px gray;
}

.home h1{
font-weight: bold;
}


